<div class="card my-3">
    <div class="card-header bg-info text-white">
        <h2>Liste des stagiairess</h2>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped" id="tableStagiaire">
                <thead>
                    <tr>
                        <th>Identifiant</th>
                        <th>PersonneType</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>DateNaissance</th>
                        <th>CursusId</th>
                        <th>Cursus</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let stagiaire of list()">
                        <td>{{stagiaire.Id}}</td>
                        <td>{{stagiaire.PersonneType}}</td>
                        <td>{{stagiaire.Nom}}</td>
                        <td>{{stagiaire.Prenom}}</td>
                        <td>{{stagiaire.DateNaissance}}</td>
                        <td>{{stagiaire.CursusId}}</td>
                        <td>{{stagiaire.Cursus}}</td>
                        <td>
                            <div class="btn-group btn-group-sm"><button type="button" class="btn btn-primary"
                                    (click)="edit(stagiaire.Id)"><i class="fa fa-edit"></i></button><button type="button"
                                    class="btn btn-danger" (click)="remove(stagiaire.Id)"><i
                                        class="fa fa-trash"></i></button></div>
                            
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer">
        <button type="button" class="btn btn-success btn-lg" (click)="add()">
            <i class="fa fa-plus"></i>
        </button>
    </div>
</div>

<!-- <stagiaire-edit [stagiaire]="stagiaireForm" (deleteRequest)="remove($event)" *ngIf="stagiaireForm" (cancelRequest)="cancel()">
</stagiaire-edit> -->

<div class="card" id="stagiaireForm" *ngIf="stagiaireForm">
    <div class="card-header bg-info text-white">
        <h3>
            Edition du stagiaire
        </h3>
    </div>
    <div class="card-body">
        <div class="form-group row">
            <label for="Id" class="col-md-2 col-form-label">Identifiant:</label>
            <input type="number" class="col-md-10 form-control" id="Id" readonly [(ngModel)]="stagiaireForm.Id">
        </div>
        <div class="form-group row">
            <label for="PersonneType" class="col-md-2 col-form-label">PersonneType :</label>
            <input type="text" class="col-md-10 form-control" id="PersonneType" [(ngModel)]="stagiaireForm.PersonneType">
        </div>
        <div class="form-group row">
            <label for="Nom" class="col-md-2 col-form-label">Nom :</label>
            <input type="text" class="col-md-10 form-control" id="Nom" [(ngModel)]="stagiaireForm.Nom">
        </div>
        <div class="form-group row">
            <label for="Prenom" class="col-md-2 col-form-label">Prenom :</label>
            <input type="Prenom" class="col-md-10 form-control" id="Prenom" [(ngModel)]="stagiaireForm.Prenom">
        </div>
        <div class="form-group row">
            <label for="DateNaissance" class="col-md-2 col-form-label">Date de Naissance:</label>
            <input type="date" class="col-md-10 form-control" id="DateNaissance" [(ngModel)]="stagiaireForm.DateNaissance">
        </div>
        <div class="form-group row">
            <label for="CursuId" class="col-md-2 col-form-label">CursuId :</label>
            <input type="number" class="col-md-10 form-control" id="CursuId" [(ngModel)]="stagiaireForm.CursusId">
        </div>
        <!-- <div class="form-group row">
            <label for="Cursus" class="col-md-2 col-form-label">Cursus:</label>
            <input type="text" class="col-md-10 form-control" id="Cursus" [(ngModel)]="stagiaire.Cursus">
        </div> -->
    </div>
     <div class="card-footer">
        <div class="btn-group btn-group-lg float-right">
            <button type="button" class="btn btn-success" (click)="save()">
                <i class="fa fa-check"></i>
            </button>
            <button type="button" class="btn btn-danger" (click)="remove(stagiaireForm.Id)">
                <i class="fa fa-trash"></i>
            </button>
            <button type="button" class="btn btn-warning" (click)="cancel()">
                <i class="fa fa-undo"></i>
            </button>
        </div>
    </div> 
</div>